<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="monitoring" class="es.bsc.vmm.ascetic.monitoring.zabbix.ZabbixConnector"/>
    <bean id="cloudMiddleware" class="es.bsc.vmmanagercore.cloudmiddleware.openstack.OpenStackJclouds"/>

    <bean id="vmManager" class="es.bsc.vmmanagercore.manager.GenericVmManager"/>

    <bean id="energyModeller" class="es.bsc.vmm.ascetic.modellers.energy.ascetic.AsceticEnergyModellerAdapter"/>
    <bean id="pricingModeller" class="es.bsc.vmm.ascetic.modellers.price.ascetic.AsceticPricingModellerAdapter">
        <constructor-arg ref="energyModeller"/>
    </bean>

	<bean id="hostFactory" class="es.bsc.vmm.ascetic.monitoring.hosts.ZabbixHostFactory">

	</bean>

	<bean id="cloplaConversor" class="es.bsc.vmm.ascetic.AsceticCloplaConversor"/>

	<util:set id="estimators" value-type="es.bsc.vmmanagercore.drivers.Estimator">
		<ref bean="energyModeller"/>
		<ref bean="pricingModeller"/>
	</util:set>

	<!-- deprecated: to substitute by clopla -->
	<bean id="schedulingAlgorithmsRepository" class="es.bsc.vmm.core.scheduler.SchedulingAlgorithmsRepository">
		<constructor-arg>
			<util:set value-type="java.lang.Class">
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgConsolidation"/>
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgDistribution"/>
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgGroupByApp"/>
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgRandom"/>
				<bean class="es.bsc.vmm.ascetic.scheduler.legacy.SchedAlgCostAware"/>
				<bean class="es.bsc.vmm.ascetic.scheduler.legacy.SchedAlgEnergyAware"/>
			</util:set>
		</constructor-arg>
	</bean>

	<!-- poner lista de clopla modellers -->

	<util:list id="vmmListeners" value-type="es.bsc.vmm.core.drivers.VmmListener">
		<!-- poner lista de vmmlisteners. Recordar que energymodeller debe ir antes de pricingmodeller
			energy modeller
			pricing modeller
			ascetic listener
			mq listener
		-->
	</util:list>
</beans>