<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- VERY IMPORTANT! If you are buinding your project with Maven Shade plugin, you need to add the
	next lines to the shade configuration in your pom.xml (section <transformers>):

	<transformer implementation="org.apache.maven.plugins.shade.resource.AppendingTransformer">
		<resource>META-INF/spring.handlers</resource>
	</transformer>
	<transformer implementation="org.apache.maven.plugins.shade.resource.AppendingTransformer">
		<resource>META-INF/spring.schemas</resource>
	</transformer>
-->

    <bean id="monitoring" class="es.bsc.vmm.ascetic.monitoring.zabbix.ZabbixConnector"/>
    <bean id="cloudMiddleware" class="es.bsc.vmm.core.cloudmiddleware.openstack.OpenStackJclouds"/>

    <bean id="vmManager" class="es.bsc.vmm.core.manager.GenericVmManager"/>

    <bean id="energyModeller" class="es.bsc.vmm.ascetic.modellers.energy.ascetic.AsceticEnergyModellerAdapter"/>
    <bean id="pricingModeller" class="es.bsc.vmm.ascetic.modellers.price.ascetic.AsceticPricingModellerAdapter">
        <constructor-arg ref="energyModeller"/>
    </bean>

	<util:set id="estimators" value-type="es.bsc.vmm.core.drivers.Estimator">
		<ref bean="energyModeller"/>
		<ref bean="pricingModeller"/>
	</util:set>

	<!-- deprecated: to substitute by clopla -->
	<bean id="schedulingAlgorithmsRepository" class="es.bsc.vmm.core.scheduler.SchedulingAlgorithmsRepository">
		<constructor-arg>
			<util:set value-type="java.lang.Class">
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgConsolidation"/>
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgDistribution"/>
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgGroupByApp"/>
				<bean class="es.bsc.vmm.core.scheduler.schedulingalgorithms.SchedAlgRandom"/>
				<bean class="es.bsc.vmm.ascetic.scheduler.legacy.SchedAlgCostAware"/>
				<bean class="es.bsc.vmm.ascetic.scheduler.legacy.SchedAlgEnergyAware"/>
			</util:set>
		</constructor-arg>
	</bean>

	<util:list id="vmmListeners" value-type="es.bsc.vmm.core.drivers.VmmListener">
		<ref bean="energyModeller"/>
		<ref bean="pricingModeller"/>
		<bean class="es.bsc.vmm.ascetic.monitoring.zabbix.ZabbixListener"/>
		<bean class="es.bsc.vmm.ascetic.mq.MQListener"/>
	</util:list>
</beans>