<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="monitoring" class="es.bsc.vmmanagercore.monitoring.zabbix.ZabbixConnector"/>
    <bean id="cloudMiddleware" class="es.bsc.vmmanagercore.cloudmiddleware.openstack.OpenStackJclouds"/>

    <bean id="vmm" class="es.bsc.vmmanagercore.manager.GenericVmManager"/>

    <bean id="energyModeller" class="es.bsc.vmmanagercore.modellers.energy.ascetic.AsceticEnergyModellerAdapter"/>
    <bean id="pricingModeller" class="es.bsc.vmmanagercore.modellers.price.ascetic.AsceticPricingModellerAdapter">
        <constructor-arg ref="energyModeller"/>
    </bean>

    <bean id="estimatorsManager" class="es.bsc.vmmanagercore.estimator.EstimatorsManager">
        <constructor-arg>
            <util:set value-type="es.bsc.vmmanagercore.drivers.Estimator">
                <ref bean="energyModeller"/>
                <ref bean="pricingModeller"/>
            </util:set>
        </constructor-arg>
    </bean>
</beans>