<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="default.console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-6p - %C%n%m%n"/>
        </Console>
        <File name="default.file" fileName="log/vmmanager.log" append="true" >
            <PatternLayout pattern="%d{ISO8601} %-6p - %C%n%m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="eu.ascetic" additivity="false" level="debug">
            <AppenderRef ref="default.console"/>
            <AppenderRef ref="default.file"/>
        </Logger>
        <Logger name="es.bsc" additivity="false" level="debug">
            <AppenderRef ref="default.console"/>
            <AppenderRef ref="default.file"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="default.console"/>
            <AppenderRef ref="default.file"/>
        </Root>
    </Loggers>
</Configuration>