<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- VERY IMPORTANT! If you are buinding your project with Maven Shade plugin, you need to add the
	next lines to the shade configuration in your pom.xml (section <transformers>):

	<transformer implementation="org.apache.maven.plugins.shade.resource.AppendingTransformer">
		<resource>META-INF/spring.handlers</resource>
	</transformer>
	<transformer implementation="org.apache.maven.plugins.shade.resource.AppendingTransformer">
		<resource>META-INF/spring.schemas</resource>
	</transformer>
-->


	<!--bean id="monitoring" class="es.bsc.demiurge.monitoring.ganglia.GangliaMonitoring"/>
    <bean id="cloudMiddleware" class="es.bsc.demiurge.openstackjclouds.OpenStackJclouds"/-->

	<!-- FOR TEST -->

	<bean id="monitoring" class="es.bsc.demiurge.fake.FakeMonitoring"/>
	<bean id="cloudMiddleware" class="es.bsc.demiurge.fake.FakeCloudMiddleware">
		<constructor-arg>
			<util:list value-type="es.bsc.demiurge.core.monitoring.hosts.Host">
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host0"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host1"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host2"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host3"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host4"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host5"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host6"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host7"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host8"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host9"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host10"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host11"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host12"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host13"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host14"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host15"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host16"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host17"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host18"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host19"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host20"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host21"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host22"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host23"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host24"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host25"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host26"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host27"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host28"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host29"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host30"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host31"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host32"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host33"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host34"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host35"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host36"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host37"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host38"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host39"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host40"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host41"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host42"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host43"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host44"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host45"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host46"/>
<constructor-arg index="1" value="8"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid21"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host47"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="23000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid27"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host48"/>
<constructor-arg index="1" value="16"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid30"/>
</bean>
<bean class="es.bsc.demiurge.fake.HostFake">
<constructor-arg index="0" value="host49"/>
<constructor-arg index="1" value="12"/>
<constructor-arg index="2" value="32000"/>
<constructor-arg index="3" value="1500"/>
<constructor-arg index="4" value="0"/>
<constructor-arg index="5" value="0"/>
<constructor-arg index="6" value="0"/>
<constructor-arg index="7" value="bscgrid31"/>
</bean>
			</util:list>
		</constructor-arg>
	</bean>


	<!--bean id="vmManager" class="es.bsc.demiurge.core.manager.GenericVmManager"/-->
	<bean id="vmManager" class="es.bsc.demiurge.renewit.manager.PerformanceVmManager"/>

	<bean id="energyModeller" class="es.bsc.demiurge.renewit.modellers.PowerModeller"/>

	<util:set id="estimators" value-type="es.bsc.demiurge.core.drivers.Estimator">
		<ref bean="energyModeller"/>
	</util:set>

	<!-- Values must be subclasses of optaplanners' SimpleScoreCalculator -->
	<util:map id="placementPolicies" key-type="java.lang.String" value-type="java.lang.Class">
		<entry key="consolidation"  value="es.bsc.demiurge.core.clopla.placement.scorecalculators.ScoreCalculatorConsolidation"/>
		<entry key="distribution" value="es.bsc.demiurge.core.clopla.placement.scorecalculators.ScoreCalculatorDistribution"/>
		<entry key="random" value="es.bsc.demiurge.core.clopla.placement.scorecalculators.ScoreCalculatorRandom"/>
		<entry key="dumbPowerAware"  value="es.bsc.demiurge.renewit.scheduler.clopla.ScoreCalculatorDumbPowerAware"/>
		<entry key="perfAwareHostRandom"  value="es.bsc.demiurge.renewit.scheduler.clopla.ScoreCalculatorPerfAwareHostRandom"/>
		<entry key="perfAwareConsolidation"  value="es.bsc.demiurge.renewit.scheduler.clopla.ScoreCalculatorPerfAwareConsolidation"/>
		<entry key="perfAwarePowerAware"  value="es.bsc.demiurge.renewit.scheduler.clopla.ScoreCalculatorPerfAwarePowerAware"/>
		<entry key="perfAwarePowerAwareWithTimeShifting"  value="es.bsc.demiurge.renewit.scheduler.clopla.ScoreCalculatorPerfAwarePowerAwareWithTimeShifting"/>
	</util:map>

	<util:list id="vmmListeners" value-type="es.bsc.demiurge.core.drivers.VmmListener">
		<!-- TODO: make VmmConfig to not throw exception when this list does not exist -->
	</util:list>

	<util:list id="vmmGlobalListeners" value-type="es.bsc.demiurge.core.VmmGlobalListener">
		<!-- TODO: make VmmConfig to not throw exception when this list does not exist -->
	</util:list>
</beans>